@use 'colors' as c;

@mixin buttons {
    color: c.$white;
    font-size: .875rem;
    line-height: 28px;
    letter-spacing: .25px;
    outline: none;
    border: none;
    background-color: c.$softBlue;
    border-radius: 5px;
}

@mixin pattern {
    height: 203px;
    width: 577px;
    background: c.$softBlue;
    border-radius: 316.5px;
    position: absolute;
    z-index: -1;

    @media screen and (min-width: 1440px) {
        height: 352px;
        width: 1000px;
    }
}